* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
body {
    background: url('../img/plano-de-fundo-teste.jpg');
    background-position: center;
    background-attachment: fixed;
}
body .navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #444;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
body .navbar .container-fluid .navbar-brand img{
    width: 90px;
    height: 80px;
}
body .navbar .container-fluid .navbar-toggler {
    outline: none;
    border: none;
}
body .navbar .container-fluid .navbar-toggler #btn-menu-icon {
    color: #fff;
    font-size: 30px;
}
body .navbar .container-fluid #navbarTogglerDemo03 .navbar-nav{
    width: 95%;
    display: flex;
    justify-content: end;
}
body .navbar .container-fluid #navbarTogglerDemo03 .navbar-nav .nav-item .nav-link{
    color: #fff;
    font-weight: 600;
}
body #section-banner {
    width: 100vw;
    display: flex;
    margin-top: 105px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
body #section-banner #carouselExample .carousel-inner .carousel-item img {
    border-radius: 15px;
}
body #section-2 {
    background-color: #111;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 15px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body #section-2 h3 {
    font-size: 1.2rem;
}
body #section-2 #cards-sect-2 {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 25px;
}
body #section-2 #cards-sect-2 .card-sect-2 {
    width: 350px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #222;
    height: 450px;
    border-radius: 20px;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
body #section-2 #cards-sect-2 .card-sect-2 img {
    position: absolute;
    top: 0;
    border-top-left-radius: 20px;
}
body #section-2 #cards-sect-2 .card-sect-2  p {
    margin-top: 260px;
    width: 80%;
    font-size: 0.9rem;
}
body #section-2 a {
    background-color: yellow;
    text-decoration: none;
    width: 200px;
    text-align: center;
    padding: 8px;
    color: #222;
    font-weight: 600;
    border-radius: 20px;
}
body #section-3 {
    margin-top: 20px;
    width: 100vw;
    padding-bottom: 10px;
    color: #fff;
}
body #section-3 h4 {
    text-align: center;
    font-weight: 600;
}
body #section-3 h4 span {
    color: rgb(206, 206, 5);
}
body #section-3 #cards-sect-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body #section-3 #cards-sect-3 .card-sect-3 {
    width: 310px;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    height: 400px;
}
body #section-3 #cards-sect-3 .card-sect-3 .text-card-3 {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    position: absolute;
    width: 100%;
    margin-top: 150px;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
body #section-3 #cards-sect-3 .card-sect-3 img {
    position: absolute;
    top: 0;
    z-index: 1;
}
body #section-3 #cards-sect-3 .card-sect-3 .text-card-3 h5 {
    margin-top: 20px;
    font-size: 0.9rem;
}
body #section-3 #cards-sect-3 .card-sect-3 .text-card-3 p {
    margin-top: 10px;
    width: 80%;
    font-size: 0.8rem;
}